@tailwind base;
@tailwind components;
@tailwind utilities;

* { 
  scroll-behavior: smooth
}

.inter {
  font-family: 'Inter', sans-serif;
}

.playfair {
  font-family: 'Playfair Display', serif;
}

form {
  margin: 0!important;
  padding: 0!important;
}
form button {
  width: 100%;
  box-shadow: 0px 4px 30.2px 0px rgba(51, 246, 130, 0.50);
}
form input {
  padding: 12px 12px!important;
}
form ._form_element  {
  margin-bottom: 8px!important;
}
.shadow-my {
  box-shadow: 0px 4px 30.2px 0px rgba(51, 246, 130, 0.50);
}